.alert-box{
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none;
}

.list-group{display: none;}
.show{display: block;}

.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 5;
  padding: 30px;
  display: none;
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
} 


/*------------------------*/

.main-bg{
  padding: 100px 20px;
  background-color: lightgray;
}


/*-----------------------*/
section{
  width:100%;
  text-align: center;
}
.con-wrapper{
  width:500px;
  text-align: center;
  margin: 50px auto 0;
}
.con-wrapper > h1 {
  margin-bottom:20px;
}

.scoreInputTitle{
  margin-bottom:10px;
}
input.scoreInput::placeholder{
  font-size: 12px;
}
button{
  margin-top: 20px;
  width:100%;
}

/*-----------------*/

.seconds{
  font-weight:bold;
  font-size:1.2em;
}


/* 캐러셀 */
.slide-container{
  position: relative;
}
.slide-wrap{
  width:300vw;
  transition: all 1s;
  overflow: hidden;
}
.slide-box{
  width:100vw;
  float: left;
}
.slide-box > img {
  width:100%;
}

.slide-btn{
  position: absolute;
  left:50%;
  bottom:-60px;
  transform: translateX(-50%);
}
.slide-btn button{
  width:40px;
  height:40px;
  font-size: 12px;
}